body {
    background: #db7ae2;
    color: rgb(160, 229, 117);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 20px;
}

#score {
    font-size: 22px;
    margin-top: 10px;
}

canvas {
    border: 2px solid rgb(98, 202, 46);
    margin-top: 20px;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background: rgb(103, 95, 216);
    border: none;
    border-radius: 5px;
}
